td
{
	border:1px solid black;
}

body
{
	background-color: #858585;
}

canvas
{
	background-color: #000000;
}

input[type="text"]:active
{
	//border: 1px solid #0000ff;
}

div.console
{
	//border-radius:3px;
	background-color:#000000;
	color:#ffffff;
	width:900px;
	height:100px;
	overflow:scroll;
	font-family: Arial, Tahoma;
	font-size:10px;
}

div.console span.warning
{
	color:#ffff00;
}

div.console span.serious
{
	color:#ff0000;
}

th
{
	border:1px solid black;
	font-weight:normal;
	padding-top:3px;
	padding-bottom:3px;
	cursor:pointer;
}

th.selected
{
	background-color:#0000ff;
	color:#ffffff;
}
